@import "~bootstrap/scss/bootstrap";

body {
    background-color: #1c1c1c;
}

.dc-power{
    background-color: #0282f9;
    height: 25px;
}

header {
    background-color: #FFFFFF;
}

header nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
    align-self: stretch;
}

li {
    align-self: stretch;
    display: flex;
    align-items: center;
}

li a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 0 10px;
}

li:has(.active) {
    color: #0282f9;
    box-shadow: 0px 10px 0px -7px #0282f9;
}

.active {
    color: #0282f9;
}

.fa-caret-down{
    cursor: pointer;
}

.logo img{
    width: 70px;
}

.jumbotron img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: 0% 0%;
}

main{
    width: 80%;
    margin: 1rem auto 0 auto;
    position: relative;
}

.fumetti{
    color: #fff;
    background-color: #0282f9;
    position: absolute;
    bottom: 97%;
    left: 0;
    font-weight: bolder;
}

.comic{
    color: #fff;
}

.card-img{
    height: 200px;
    overflow: hidden;
}

.card-comic-img{
    width: 800px;
    overflow: hidden;
}

.card-comic-img img{
    width: 100%;
}

.card-img img{
    width: 100%;
    object-fit: cover;
}

h3 {
    font-size: .8rem;
}

.custom-btn {
    padding: .25rem 3rem;
    background-color: #0282f9;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: .8rem;
}

.quick-links {
    background-color: #0282f9;
    padding: 3rem 0;
    width: 100%;
}

.quick-link {
    width: 15rem;
    cursor: pointer;
}

.quick-links ul{
    width: 80%;
    margin: 0 auto;
}

.link-img{
    width: 30%;
    padding: .2rem;
}

.link-img img {
    width: 70%;
}

img.link-svg {
    width: 50px;
    display: inline-block;
}

.quick-link-text{
    width: 70%;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
}

.footer-jumbo{
    background-image: url("/resources/images/footer-bg.jpg");
    height: 350px;
    overflow: hidden;
    color: #fff;
}

.left{
    display: flex;
    margin-top: 1rem;
    text-align: start;
}

.left h3{
    font-weight: bolder;
    font-size: 1.1rem;
}

.left ul li a{
    color: #797979;
    padding: 0;
}

.logo-footer{
    width: 450px;
    position: relative;
    bottom: 3rem;
}

.logo-footer img{
    width: 100%;
}

.social{
    padding: 1rem 0;
    background-color: #303030;
    align-items: center;
}

.social button{
    background-color: #303030;
    border: 2px solid #0282f9;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: .8rem;
    padding: 0.75rem;
}

.social h3{
    color: #0282f9;
    font-weight: bolder;
    font-size: 1rem;
    margin: 0;
}

.social img{
    width: 2rem;
    cursor: pointer;
}